:root {
    --body-bg: #212121;
    --secondary-1: #63B4B8;
    --secondary-2: #A9E4D7;
}

#about {
    display: flex;
    background-color: var(--body-bg);
    color: var(--secondary-2);
    text-align: center;
    padding: 20px
}

#about h1 {
    text-align: center;
    border-bottom: 3px solid var(--secondary-1);
}

#my-image {
    display: flex;
    /* width: 50%; */
    float: left;
    margin: 0 10px 0 30px;
    padding-top: 10px;
    width: 300px;
}

#about-text {
    display: flex;
    float: right;
    /* width: 50%; */
    padding-left: 5px; 
}
