:root {
    --body-bg: #212121;
    --secondary-1: #63B4B8;
    --secondary-2: #A9E4D7;
}

.App {
    background-color: var(--body-bg);
}

#container {
    background-color: var(--body-bg) !important;
}

#contact-form {
    background-color: var(--body-bg) !important;
    color: var(--secondary-1);
    margin: 0 auto !important;
}

.form-control {
    background-color: #313131 !important;
    color: var(--secondary-2) !important;
    border: 1px solid var(--secondary-1) !important;
}

Form {
    background-color: var(--body-bg);
    justify-content: center;
}

#submit-button {
    margin: 10px 0 !important;
    color: var(--secondary-1);
    border-color: var(--secondary-1);
}

#submit-button:hover {
    background-color: var(--secondary-1);
    color: var(--body-bg);
}

