html {
    background-color: darkslategray;
}

#navbar {
    padding: 100px;
    background-color: blue;
}

#navbar a {
    color: orange;
}

#title {
    font-size: 3rem;
}

#links {
    font-size: 2rem;
}

#about {
    background-color: darkslategray;
    color: white;
    justify-items: center;
}

#my-image {
    width: 50%;
    float: left;
    margin: 0 10px 0 30px;
    padding-top: 10px;
    width: 300px;
}

#about-text {
    float: right;
    width: 50%;
    padding-left: 30px; 
}